.checkout__items {
    background: white;
    padding: 10px;
}

.checkout__itemheader {
    padding: 10px;
    width: 100%;
}

.checkout__itemheader h1 {
    font-size: 28px;
    font-family: sans-serif;
}

.checkout__pricetext {
    margin: 10px 10px 0 10px;
    display: flex;
    justify-content: flex-end;
}
