.header {
    display: flex;
    align-items: center;
    background-color: var(--header-bg);
    padding: 5px 20px;
    position: sticky;
    top: 0;
    padding-bottom: 25px;
}

.header__logo {
    height: 50px;
    border: 1px solid transparent;
    padding: 5px;
}

.header__logo:hover {
    border: 1px solid white;
}

.header__deliveryaddress {
    display: flex;
    margin: 0 20px;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 10px;
}

.header__deliveryaddress:hover {
    border: 1px solid white;
}

.header__deliveryaddress--location {
    color: white;
    display: flex;
    align-items: flex-end;
    font-size: 1.25rem;
}

.header__deliveryaddress--text {
    color: white;
}

.header--text {
    font-size: 12px;
    line-height: 14px;
}

.header--textbig {
    font-size: 14px;
    font-weight: bold;
    line-height: 15px;
}

.header__search {
    display: flex;
    align-items: center;
    background-color: white;
    flex: 1;
    border-radius: 10px;
    border: 3px solid var(--header-bg);
}

.header__search--input {
    line-height: 15px;
    padding: 7px 10px 10px 0;
    border: none;
    outline: none;
    margin-left: 10px;
    flex: 1;
}

.header__search--button {
    background-color: var(--orange);
    padding: 6px 10px;
    font-size: 1.25rem;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__option {
    margin: 0 20px;
    color: white;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 5px;
}

.header__option:hover {
    border: 1px solid white;
}

.header__option--cart {
    display: flex;
}