.subtotal__container {
    background-color: white;
    flex: 1;
    padding: 20px;
    z-index: 1;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.subtotal__info {
    display: flex;
}

.subtotal__proceed--button {
    margin-top: 20px;
    border-radius: 10px;
    background-color: var(--button-yellow);
    padding: 5px 30px;
    border: none;
    cursor: pointer;
    transition: .3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.subtotal__proceed--button:hover {
    filter: brightness(90%);
}