.subtotal__container {
    background-color: white;
    flex: 1;
    padding: 20px;
    z-index: 1;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.subtotal__info {
    display: flex;
}

.subtotal__proceed--button {
    margin-top: 20px;
}
